<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>CampusComm</title>
     <link rel="shortcut icon" href="/image/logo.jpeg" type="image/x-icon">

     <script src="https://kit.fontawesome.com/b06a377e67.js" crossorigin="anonymous"></script>
     <link rel="stylesheet" href="cssfiles/home.css">
     <link rel="stylesheet" href="cssfiles/responsive.css">
     <link rel="stylesheet" href="cssfiles/navbarrespon.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
     <script src="https://kit.fontawesome.com/b06a377e67.js" crossorigin="anonymous"></script>
     <link rel="stylesheet" href="/cssfiles/home.css">
     <link rel="stylesheet" href="/cssfiles/responsive.css">
     <link rel="stylesheet" href="/cssfiles/navbarrespon.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>

<body>
     <div id="camp-app">
          <div id="mainbox">
               <div id="navbar">
                    <h1>Cc.</h1>
                    <h2></h2>
                    <ul>
                         <li><a href="/home.html"><i class="fa-solid fa-house"></i><span>Home</span> </a></li>
                    
                         <li><a href="#"><i class="fa-brands fa-facebook-messenger"></i><span>Messages</span></a></li>
                         <li id="fa-heart"><a href="department.php"><i class="fa-solid fa-school"></i><span>Department</span></a>
                         </li>
                    </ul>
                    <div id="nav2">
                         <ul id="nav2ul">
                              <ol><a href="myprofile.html"><i class="fa-solid fa-person">My Profile</i></a></ol>
                              <ol><a href="logout.php">Log Out</a></ol>
                         </ul>
                         <li><a href="#" onclick="menutoggle()"><i class="fa-solid fa-bars"></i><span>More</span></a>
                         </li>
                    </div>

               </div>
               <hr>
               <div id="main">
                    <div id="app" style="padding-left:300px ;">
                         <h1>Real-Time Chat</h1>
                         <div>
                           <div v-for="message in messages" :key="message.id">
                             <strong>{{ message.sender }}:</strong> {{ message.text }}
                           </div>
                         </div>
                         <form @submit.prevent="sendMessage">
                           <input type="text" v-model="newMessage" placeholder="Type your message">
                           <button type="submit">Send</button>
                         </form>
                    </div>


               </div>
          </div>

     </div>
     <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
     <script src="app.js"></script>
     <script src="jsfiles/vue.3.js"></script>
     <script src="jsfiles/axios.js"></script>
     <script src="jsfiles/app.camp.js"></script>
</body>
<script src="jsfiles/home.js"></script>

</html>