body{
    padding:0;
    margin: auto;
    height: 100vh;
}
.container{
    margin: 1px;
    border: 1px solid black;
    width: fit-content;
    float: left;
    height:100vh;
}
#side1, #side2, #side3{
    margin: 5px;
    border: 1px solid black;
    width:100px;
    text-align: center;
    text-decoration: none;
}
#chat-app{
    border: 1px solid black;
    margin: 1px;
    float: left;
    height: 100vh
    ;
    width: 90%;
}
#convo{
    border-radius: 5px;
    border: 1px solid darkblue;
    background-color: darkblue;
    color: white;
    padding: 2px;
}
#send-chat{
    float: right;
}